<mat-card *ngIf="item" class="item-card">
  <img
    mat-card-image
    class="item-image"
    src="{{ item.img }}"
    alt="Photo of {{ item.model }}"
  />
  <mat-card-header>
    <mat-card-title>Model: {{ item.model }}</mat-card-title>
    <mat-card-subtitle class="item-make">Make: {{ item.make }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="item-details">
    <p>Description: {{ item.description }}</p>
    <p>Year: {{ item.year }}</p>
    <p>Material: {{ item.material }}</p>
    <p>Price: {{ item.price }}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="isOwner">
    <button
      mat-button
      class="left-button"
      [routerLink]="['/catalog', item._id, 'edit']"
    >
      EDIT
    </button>
    <button mat-button class="right-button" (click)="deleteItem(item._id)">
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
