.global-loader {
    position: fixed; /* Постоянна позиция върху екрана */
    top: 50%; /* Позиция на 50% от височината на екрана отгоре */
    left: 50%; /* Позиция на 50% от ширината на екрана отляво */
    transform: translate(-50%, -50%); /* Пренасочва центъра на елемента върху точката 50%, 50% на екрана */
    z-index: 9999; /* Преднина на елемента над всички останали */
  }