.footer {
  background-color: #f0f0f0; /* Цвят на заден план - светло сив */
  padding: 20px 0; /* Вътрешен отстъп за по-добър визуален вид */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer .container {
  text-align: center; /* Центриране на текста */
}

.footer p {
  margin: 0; /* Премахване на външния отстъп на параграфа */
  color: #333; /* Цвят на текста */
  font-size: 25px; /* Големина на шрифта - примерно 14 пиксела */
}
