<div class="container">
    <div class="create-form">
      <h2>Edit Item</h2>
      <div>{{ item?.model}}</div>
     
        <form #form="ngForm" (ngSubmit)="editItem(form)">
        <div>
          <label for="model">Model:</label>
          <input
            type="text"
            id="model"
            name="model"
            #textareaModel="ngModel"
            ngModel
            [ngModel]="item?.model"
            required
          />
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            rows="4"
            #textareaDescription="ngModel"
            ngModel
            [ngModel]="item?.description"
            required
          ></textarea>
        </div>
        <div>
          <label for="make">Make:</label>
          <input type="text" id="make" name="make" #inputMake="ngModel" ngModel [ngModel]="item?.make" required/>
        </div>
        <div>
          <label for="material">Material:</label>
          <input
            type="text"
            id="material"
            name="material"
            #inputMaterial="ngModel"
            ngModel
            [ngModel]="item?.material"
            required
          />
        </div>
        <div>
          <label for="year">Year:</label>
          <input type="number" id="year" name="year" #inputYear="ngModel" ngModel [ngModel]="item?.year" required/>
        </div>
        <div>
          <label for="price">Price:</label>
          <input
            type="number"
            id="price"
            name="price"
            #inputPrice="ngModel"
            ngModel
            [ngModel]="item?.price"
            required
          />
        </div>
        <div>
          <label for="img">Image URL:</label>
          <input type="text" id="img" name="img" #inputIMG="ngModel" ngModel [ngModel]="item?.img" required/>
        </div>
        <button>Edit</button>
      </form>
      <ng-container *ngIf="form.invalid && (form.dirty || form.touched)">
        <p class="error-message">All fields are required</p>
      </ng-container>
    </div>
  </div>
