<header >
  <nav class="main-nav">
    <ul>
      <li><a routerLink="/home-page">Home</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/catalog">Catalog</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/auth/login">Login</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/auth/register">Register</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/create">Create</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/auth/profile">{{name}}'s Profile</a></li>
    </ul>
  </nav> 
</header>
